{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Estoque de Insumos {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/estoque_insumos.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <div class="div-botoes-header">
        <form method="GET" action="{{ url_for('main.main') }}" class="card-modulo">
            <button type="submit" class="bt-cabecalho">Voltar</button>
        </form>
        <form method="GET" action="{{ url_for('dashboard.add_cultivo') }}" class="card-modulo">
            <button type="submit" id="bt-cultivar-insumo">Cultivar Insumo</button>
        </form>
    </div>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button class="bt-div-header">Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button class="bt-div-header">Perfil</button>
    </form>
</div>
<main>
    <section class="section-main">
        <section class="section-insumos section-content" id="insumos">
            {% for insumo in insumos %}
            <form method="POST" action="{{ url_for('gestao_estoque.editar_insumo') }}" class="card-insumo">
                <img class="img-insumo" src="../../static/images/produtos/{{ insumo.nome }}.png" alt="{{ insumo.nome }}">
                <h3 class="nome-insumo">{{ insumo.nome }}</h3>
                <p>Preço: {{ insumo.preco }}</p>
                <input type="hidden" name="insumo_id" value="{{ insumo.id }}">
                <input type="hidden" name="insumo_nome" value="{{ insumo.nome }}">
                <input type="hidden" name="insumo_preco" value="{{ insumo.preco }}">
                <input type="hidden" name="insumo_quantidade" value="{{ insumo.quantidade }}">
                <div class="info-estoque-insumo">
                    <button type="submit" class="editar-insumo bt-editar-insumo">editar</button>
                    <output>Estoque: {{ insumo.quantidade }}</output>
                </div>
            </form>
            {% endfor %}
        </section>
    </section>
</main>
<script src="../../static/scripts/estoque_insumos.js"></script>
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}