{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Home {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css' ) }}">
<link rel="stylesheet" href="../../static/styles/home.css">
{% endblock style %}

{% block body %}
<header>
    <div class="borrao-header">
        <div class="conteudo-header">
            <button type="submit">Sobre Nós</button>
            <button type="submit">Serviços</button>
            <button type="submit">Produtos</button>
        </div>
    </div>
</header>
<section class="secao-principal">
    <div class="borrao-secao">
        <div class="conteudo-secao">
            <h1>Seja Bem-Vindo a BlueFarm!</h1>
            <h2>Semeando o futuro, colhendo sustentabilidade no coração da cidade.</h2>
            <form action="{{ url_for('home.login') }}" method="get">
                <button type="submit" class="bt-contato">Realizar Login</button>
            </form>

            <!-- <button type="submit" class="bt-contato">Realizar Login</button> -->
        </div>
    </div>
</section>
<section class="secao-sobre-nos">
    <article class="img-fazenda-sobre-nos">

    </article>
    <div class="txt-sobre-nos">
        <h3>Sobre Nós</h3>
        <p id="txt-sobre-nos">
            Bem-vindo à FarmZul! Somos uma fazenda urbana inovadora, localizada no coração da cidade, que nasceu do sonho de trazer alimentos frescos, saudáveis e sustentáveis diretamente para você. Aqui, na FarmZul, acreditamos que é possível cultivar o futuro de forma consciente, integrando tecnologia e natureza para transformar a maneira como produzimos e consumimos nossos alimentos.

            Nossa missão é oferecer uma alternativa ecológica e acessível para quem busca uma alimentação de qualidade, enquanto cuidamos do meio ambiente e promovemos a sustentabilidade. Utilizando técnicas de cultivo modernas, como hidroponia e aquaponia, conseguimos cultivar uma ampla variedade de vegetais, ervas e frutas, tudo sem o uso de agrotóxicos e com o menor impacto ambiental possível.

            Mais do que uma fazenda, a FarmZul é um espaço de aprendizado e conexão com a natureza. Oferecemos visitas guiadas, workshops e experiências imersivas para que todos possam conhecer de perto nosso trabalho e se inspirar a adotar práticas mais sustentáveis no dia a dia.

            Na FarmZul, cada folha, cada fruto, cada colheita reflete nosso compromisso com a qualidade e com a sustentabilidade. Estamos aqui para trazer o melhor da terra direto para a sua mesa, cultivando saúde, bem-estar e um futuro mais verde para todos.

            Venha nos conhecer e descubra como, juntos, podemos fazer a diferença!
        </p>
    </div>
</section>
<section class="secao-servicos">
    <div class="borrao-secao">
        <div class="conteudo-secao">
            
        </div>
    </div>
</section>
</body>
</html>
{% endblock body %}