<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueFarm | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css' ) }}">
    <link rel="stylesheet" href="../static/styles/login.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
    <link rel="stylesheet" href="../static/styles/common/messages.css">
</head>
<body>
    <div class="imagem-fazenda-urbana">
        <div class="color-blue-imagem-fazenda-urbana">
            <h1>Seja Bem-Vindo a BlueFarm!</h1>
            <h3>Semeando o futuro, colhendo sustentabilidade no coração da cidade.</h3>
        </div>
    </div>
    <section class="sessao-login">
            <h2>BlueFarm | Login</h2>
            <div id="sessao-messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <article class="logo-farmzul">

            </article>
            <form action="/login" method="POST" class="form-login">
                {{ form.csrf_token }}
                <div class="form">
                    <!-- <input type="text" name="user" class="form-control" id="inputUser" placeholder="User"> -->
                     {{ form.username(class="form-control", placeholder="Username") }}
                </div>
                <div class="form">
                    <!-- <input type="password" name="senha" class="form-control" id="inputPassword" placeholder="Senha"> -->
                     {{ form.senha(class="form-control", placeholder="Senha") }}
                </div>
                <button type="submit" class="bt-login">Login</button>
            </form>
    </section>
</body>
</html>