<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock title %}</title>
    
    {% block style %}
    {% endblock style %}
    <link rel="icon" href="{{ url_for('static', filename='images/logo-BlueFarm-sem-fundo-sem-nome.ico') }}" type="image/x-icon">
</head>
<body>
    {% block body %}
    {% endblock body %}

    {% block script %}
    {% endblock script %}
</body>
</html>
