app-button-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 100%;

    background-color: yellow;
    border: 0px;

    text-align: center;
    font-size: 22px;
}