/* CABEÇALHO */

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;

    width: 100%;
    height: 60px;
    background-color: #D5D1FF;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.img-bluefarm{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    background-image: url('../images/logo-BlueFarm-sem-fundo-sem-nome.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section-perfil{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 19%;
}

.align-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin-right: 10px;
}

p{
    text-align: center;
}

.img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../../static/images/profile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33px;
    height: 33px;
    background-image: url('../../static/images/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Estilização da div expandida */
.perfil-expandido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 70px; 
    right: 0; 
    width: 200px;
    height: 150px;
    background-color: white; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
    margin-right: 5px;
}
