*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

/* CABECALHO */

.bt-cabecalho {
    width: 45px;
    height: 30px;
    border-radius: 25px;
    border: 0px solid;
    margin-top: 1%;
    font-size: 15px;
    background-color: #0A73B0;
    color: white;
    background: linear-gradient(to right bottom, #151C1A, #27282C, #47533E);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}

#bt-add-produto {
    width: 95px;
    height: 30px;
    border-radius: 25px;
    border: 0px solid;
    margin-top: 1%;
    font-size: 15px;
    background-color: #0A73B0;
    color: white;
    background: linear-gradient(to right bottom, #151C1A, #27282C, #47533E);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}

.div-botoes-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 170px;
}

/* MENU */

main{
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100%;
    background: linear-gradient(
    to right bottom, 
    rgb(255, 255, 255), 
    rgb(238, 238, 238)
    );
}

.section-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 75%;
}

.section-produtos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    padding-bottom: 5%;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.card-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    margin: auto;
    width: 230px;
    height: 230px;
    background-color: #7D52FF;
    border-radius: 5%;
    margin-top: 20%;
    color: white;
}

.img-produto{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 130px;
}

.nome-produto{
    text-align: center;
    color: white; 
    font-size: 17px;
}

.info-estoque-produto{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15%;

    width: 90%;
}

.editar-produto{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 20px;
    margin-left: 10%;
    font-size: 17px;
    text-align: center;
}

.bt-editar-produto {
    border-radius: 25px;
    border: 0px solid;
    margin-top: 1%;
    font-size: 15px;
    background-color: #0A73B0;
    color: white;
    background: linear-gradient(to right bottom, #151C1A, #27282C, #47533E);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}