html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
  
body{
    height: 100vh; 
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.imagem-fazenda-urbana{
    width: 40%;
    height: 100%;

    background-image: url('../images/background_fazenda_urbana_login.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-blue-imagem-fazenda-urbana{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

    background-color: rgba(21, 28, 26, 0.8);
}

h1{
    font-size: 37px;
    color: white;

    text-align: center;
}

h3{
    font-size: 20px;
    color: white;

    text-align: center;
}

.sessao-login{
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    background: linear-gradient(
    to right bottom, 
    rgb(255, 255, 255), 
    rgb(238, 238, 238)
    );
}

h2{
    font-size: 27px;

    background: linear-gradient(to right bottom, 
    #151C1A, 
    #27282C, 
    #47533E);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}

.logo-farmzul{
    width: 125px;
    height: 125px;

    margin-top: 5%;

    background-image: url('../images/logo-BlueFarm-sem-fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-login{
    width: 90%;
    height: 200px;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-email{
    display: flex;
    flex-direction: column;
}

.form-password{
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 400px;
    height: 45px;
    border-radius: 25px;
    border: 0px solid;
    margin-top: 1%;

    background-color: #D5D1FF;
    color: black;
}

label{
    font-size: 15px;
}

input::placeholder {
    color: #807e99; 
    opacity: 1;
}

.bt-login{
    width: 80px;
    height: 45px;
    border-radius: 25px;
    border: 0px solid;

    margin-top: 1%;

    font-size: 15px;
    background-color: #0A73B0;
    color: white;

    background: linear-gradient(to right bottom, 
    #151C1A, 
    #27282C, 
    #47533E);
}
