{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/editar_estoque.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <form method="GET" action="{{ url_for('dashboard.estoque_produtos') }}" class="card-modulo">
        <button type="submit" class="bt-cabecalho">Voltar</button>
    </form>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button>Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button>Perfil</button>
    </form>
</div>
<main>
    <section class="section-main">
            <form method="POST" action="{{ url_for('dashboard.alterar_estoque', produto_id=produto_id) }}" enctype="multipart/form-data" class="form-registro">
                {{ form.csrf_token }}
                <img class="img-produto" src="../../static/images/produtos/{{ produto_nome }}.png" alt="{{ produto_nome }}">
                <h2>Produto: {{ produto_nome }}</h2>
                <h2>Estoque: {{ produto_quantidade }}</h2>
                    <div class="form">
                        {{ form.quantidade_disponivel(class="form-control", placeholder="Quantidade disponível") }}
                    </div>
                </div>
                {{ form.submit(class="bt-registro", value="Alterar") }}
            </form>
    </section>
</main>
<script src="../../static/scripts/editar_produto.js"></script>
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}

