{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Colheita {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/colheita.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <form method="GET" action="{{ url_for('main.main') }}" class="card-modulo">
        <button type="submit" class="bt-cabecalho">Voltar</button>
    </form>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button>Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button>Perfil</button>
    </form>
</div>
<main>
    <section class="section-main">
        <section class="section-colheitas section-content" id="colheitas">
            {% for colheita in colheitas %}
                <div class="card-colheita">
                    <div class="detalhes-colheita-1">
                        <output class="out-dados-colheita id-colheita">Id da Colheita: {{ colheita.id }}</output>
                        <output class="out-dados-colheita id-colheita">Id do Cultivo: {{ colheita.id_cultivo }}</output>
                        <output class="out-dados-colheita id-colheita">Id do Produto: {{ colheita.id_produto }}</output>
                        <output class="out-dados-colheita status-colheita">Quantidade Colhida: {{ colheita.quantidade }}</output>
                    </div>
                    <div class="detalhes-colheita-2">
                        <output class="out-dados-colheita valor-colheita">Data de Colheita: {{ colheita.data }}</output>
                    </div>
                    <input type="hidden" name="colheita_id" value="{{ colheita.id }}">
                    <input type="hidden" name="colheita_id_cultivo" value="{{ colheita.id_cultivo }}">
                    <input type="hidden" name="colheita_id_produto" value="{{ colheita.id_produto }}">
                    <input type="hidden" name="colheita_quantidade" value="{{ colheita.quantidade }}">
                    <input type="hidden" name="colheita_data" value="{{ colheita.data }}">
                    <form class="div-bt-colheita">
                    </form>
                </div>
            {% endfor %}
            {% if vendas|length == 0 %}
            <div style="height: 750px"></div>
            {% endif %}
        </section>
    </section>
</main>
<!-- <script src="../../static/scripts/main_client.js"></script> -->
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}