{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Irrigação {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/irrigacao.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <form method="GET" action="{{ url_for('main.main') }}" class="card-modulo">
        <button type="submit" class="bt-cabecalho">Voltar</button>
    </form>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button>Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button>Perfil</button>
    </form>
</div>
<main>
    <section class="section-main">
        <section class="section-irrigacao section-content" id="irrigacao">
            {% set metodo_irrigacao = dados_irrigacao.get('metodo_irrigacao') %}
            {% set metodo = metodo_irrigacao.get('metodo') %}
            {% set descricao = metodo_irrigacao.get('descricao') %}
            {% set vantagens = metodo_irrigacao.get('vantagens') %}
            {% set adequado_para = metodo_irrigacao.get('adequado_para') %}
            <div class="card-irrigacao">
                <div class="detalhes-irrigacao-1">
                    <output class="out-dados-irrigacao id-irrigacao">Irrigação</output>
                    <output class="out-dados-irrigacao status-irrigacao">Método: {{ metodo }}</output>
                </div>
                <div class="detalhes-irrigacao-2">
                    <output class="out-dados-irrigacao" id="descricao">Descrição: {{ descricao }}</output>
                    <h4 class="out-dados-irrigacao">Vantagens:</h4>
                    {% for vantagem in vantagens %}
                        <p class="out-dados-irrigacao valor-irrigacao">-{{ vantagem }}</p>
                    {% endfor %}
                </div>
                <div class="div-bt-pagar-irrigacao">
                    <output class="out-dados-irrigacao valor-irrigacao">Adequado Para: {{ adequado_para }}</output>
                </div>
            </div>

            {% set tipo_de_solo = dados_irrigacao.get('tipo_de_solo') %}
            {% set tipo = tipo_de_solo.get('tipo') %}
            {% set descricao = tipo_de_solo.get('descricao') %}
            <div class="card-irrigacao">
                <div class="detalhes-irrigacao-1">
                    <output class="out-dados-irrigacao id-irrigacao">Solo</output>
                </div>
                <div class="detalhes-irrigacao-2">
                    <output class="out-dados-irrigacao" id="descricao">Descrição: {{ descricao }}</output>
                </div>
                <div class="div-bt-pagar-irrigacao">
                    <output class="out-dados-irrigacao valor-irrigacao">Tipo: {{ tipo }}</output>
                </div>
            </div>

            {% set pratica_sustentavel = dados_irrigacao.get('pratica_sustentavel') %}
            {% set pratica = pratica_sustentavel.get('pratica') %}
            {% set descricao = pratica_sustentavel.get('descricao') %}
            {% set beneficios = pratica_sustentavel.get('beneficios') %}
            <div class="card-irrigacao">
                <div class="detalhes-irrigacao-1">
                    <output class="out-dados-irrigacao id-irrigacao">Prática Sustentável</output>
                    <output class="out-dados-irrigacao status-irrigacao">Prática: {{ pratica }}</output>
                </div>
                <div class="detalhes-irrigacao-2">
                    <output class="out-dados-irrigacao" id="descricao">Descrição: {{ descricao }}</output>
                    <h4 class="out-dados-irrigacao">Beneficios:</h4>
                    {% for beneficio in beneficios %}
                        <p class="out-dados-irrigacao valor-irrigacao">-{{ beneficio }}</p>
                    {% endfor %}
                </div>
                <div class="div-bt-pagar-irrigacao">
                </div>
            </div>
        </section>
    </section>
</main>
<!-- <script src="../../static/scripts/main_client.js"></script> -->
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}