{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/acessar_qr_code.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
<link rel="stylesheet" href="../../static/styles/acessar_qr_code.css">
{% endblock style %}

{% block body %}
<main>
    <form method="POST" action="{{ url_for('main.confirmar_pagamento', qr_id=qr_id) }}" class="div-bt-pagar-pedido">
        <input type="hidden" name="pedido_id" value="{{ qr_id }}">
        <button type="submit" class="bt-pagar">Confirmar Pagamento (fictício)</button>
    </form>
</main>
<!-- <script src="../../static/scripts/main.js"></script> -->
{% endblock body %}

