{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main_client.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
<link rel="stylesheet" href="../../static/styles/main_client.css">
{% endblock style %}

{% block body %}
<header>
    <article class="img-menu">
        <article class="img-menu"></article>
    </article>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<main>
    <section class="section-sidebar">
        <section class="sidebar">
            <button class="botao-sidebar" data-section="produtos">Produtos</button>
            <button class="botao-sidebar" data-section="pedidos">Pedidos</button>
        </section>
    </section>
    <section class="section-main">
        <div class="modulo-main">
            <section class="section-produtos section-content" id="produtos">
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Produto</h3>
                </a>
            </section>
        
            <section class="section-pedidos section-content" id="pedidos" style="display: none;">
                <a class="card-modulo" href="">
                    <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                    <h3 class="nome-modulo">Pedido</h3>
                </a>
            </section>
        </div>
    </section>
</main>
<script src="../../static/scripts/main_client.js"></script>
{% endblock body %}