{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main_client.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
<link rel="stylesheet" href="../../static/styles/main_client.css">
{% endblock style %}

{% block body %}
<header>
    <article class="img-menu">
        <article class="img-menu"></article>
    </article>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<main>
    <section class="section-sidebar">
        <section class="sidebar">
            <button class="botao-sidebar" data-section="produtos">Produtos</button>
            <button class="botao-sidebar" data-section="pedidos">Pedidos</button>
            <button class="botao-sidebar" data-section="carrinho">Carrinho</button>
        </section>
    </section>
    <section class="section-main">
        <section class="section-produtos section-content" id="produtos">
            {% for produto in produtos %}
            <form method="POST" action="{{ url_for('main.add_to_cart') }}" class="card-produto">
                <img class="img-produto" src="../../static/images/produtos/{{ produto.nome }}.png" alt="{{ produto.nome }}">
                <h3 class="nome-produto">{{ produto.nome }}</h3>
                <p>Preço: {{ produto.preco }}</p>
                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                <button type="submit" class="add-to-cart">+</button>
            </form>
            {% endfor %}
        </section>
        <section class="section-pedidos section-content" id="pedidos" style="display: none;">
            
        </section>
        <section class="section-carrinho section-content" id="carrinho" style="display: none;">
            {% for item in session['carrinho'] %}
                {% if item.quantidade != 0 %}
                <div class="card-produto-carrinho">
                    <img class="img-produto-carrinho" src="../../static/images/produtos/{{ item.nome }}.png" alt="{{ item.nome }}">
                    <h3 class="nome-produto-carrinho">{{ item.nome }}</h3>
                    <output class="out-preco">{{ item.preco }}</output>
                    <div class="div-quantidade-produtos">
                        <output class="out-quantidade">{{ item.quantidade }}</output> 
                        <form method="POST" action="{{ url_for('main.increment_item') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-mais">+</button>
                        </form>   
                        <form method="POST" action="{{ url_for('main.decrement_item') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-menos">-</button>
                        </form>                  
                        <form method="POST" action="{{ url_for('main.remove_from_cart') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-lixeira"></button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </section>
    </section>
</main>
<script src="../../static/scripts/main_client.js"></script>
{% endblock body %}