{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main_client.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
<link rel="stylesheet" href="../../static/styles/main_client.css">
{% endblock style %}

{% block body %}
<header>
    <article class="img-menu">
        <article class="img-menu"></article>
    </article>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<main>
    <section class="section-sidebar">
        <section class="sidebar">
            <button class="botao-sidebar" data-section="produtos">Produtos</button>
            <button class="botao-sidebar" data-section="pedidos">Pedidos</button>
            <button class="botao-sidebar" data-section="carrinho">Carrinho</button>
            <div class="total-carrinho">
                <form method="POST" action="{{ url_for('main.fazer_pedido') }}" class="form-bt-fazer-pedido">
                    <button type="submit" class="bt-fazer-pedido">Fazer Pedido</button>
                </form>
                <article class="img-carrinho"></article>
                <output class="out-total-preco">Total: {{ total_precos }}</output>
            </div>
        </section>
    </section>
    <section class="section-main">
        <section class="section-produtos section-content" id="produtos">
            {% for produto in produtos %}
            {% set quantidade_produto = repositories.estoque_repository.get_quantidade_por_produto(id_produto=produto.id) %}
            <form method="POST" action="{{ url_for('main.add_to_cart') }}" class="card-produto">
                <img class="img-produto" src="../../static/images/produtos/{{ produto.nome }}.png" alt="{{ produto.nome }}">
                <h3 class="nome-produto">{{ produto.nome }}</h3>
                <p>Preço: {{ produto.preco }}</p>
                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                <div class="info-estoque-produto">
                    {% if quantidade_produto > 0 %}
                    <button type="submit" class="add-to-cart">+</button>
                    {% endif %}
                    <output>Estoque: {{ quantidade_produto }}</output>
                </div>
            </form>
            {% endfor %}
        </section>
        <section class="section-pedidos section-content" id="pedidos" style="display: none;">
            {% for pedido in pedidos %}
                <div class="card-pedido">
                    <div class="detalhes-pedido-1">
                        <output class="out-dados-pedido">Id do Pedido: {{ pedido.id }}</output>
                        <output class="out-dados-pedido">Status: {{ pedido.status }}</output>
                    </div>
                    {% set itens_pedido = repositories.item_pedido_repository.get_itens_by_pedido(id_pedido=pedido.id) %}
                    {% for item in itens_pedido %}
                    <div class="detalhes-item-pedido">
                        {% set nome_produto = repositories.produto_repository.get_name_by_produto(id=item.id_produto) %}
                        <div class="div-info-item-pedido">
                            <output class="out-dados-pedido">Nome do Produto: {{ nome_produto }}</output>
                            <output class="out-dados-pedido">Quantidade: {{ item.quantidade }}</output>
                            <output class="out-dados-pedido">Preço Unitário: {{ item.preco_unitario }}</output>
                        </div>
                        <img src="../../static/images/produtos/{{ nome_produto }}.png" alt="{{ nome_produto }}" class="img-produto-pedido">
                    </div>
                    {% endfor %}
                    <div class="detalhes-pedido-2">
                        <output class="out-dados-pedido">Data do Pedido: {{ pedido.data_pedido }}</output>
                        <output class="out-dados-pedido">Valor Total: {{ pedido.valor_total }}</output>
                    </div>
                    <form method="POST" action="{{ url_for('main.fazer_pagamento') }}" class="div-bt-pagar-pedido">
                        {% if not repositories.pagamento_repository.get_pagamento_by_id_pedido(id_pedido=pedido.id) %}
                        <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                        <button type="submit" class="bt-pagar-pedido">Pagar</button>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        </section>
        <section class="section-carrinho section-content" id="carrinho" style="display: none;">
            {% for item in session['carrinho'] %}
                {% if item.quantidade != 0 %}
                <div class="card-produto-carrinho">
                    <img class="img-produto-carrinho" src="../../static/images/produtos/{{ item.nome }}.png" alt="{{ item.nome }}">
                    <h3 class="nome-produto-carrinho">{{ item.nome }}</h3>
                    <output class="out-preco">{{ item.preco }}</output>
                    <div class="div-quantidade-produtos">
                        <output class="out-quantidade">{{ item.quantidade }}</output> 
                        <form method="POST" action="{{ url_for('main.increment_item') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-mais">+</button>
                        </form>   
                        <form method="POST" action="{{ url_for('main.decrement_item') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-menos">-</button>
                        </form>                  
                        <form method="POST" action="{{ url_for('main.remove_from_cart') }}">
                            <input type="hidden" name="produto_id" value="{{ item.id }}">
                            <button type="submit" class="img-lixeira"></button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </section>
    </section>
</main>
<script src="../../static/scripts/main_client.js"></script>
{% endblock body %}