{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Main {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <article class="img-menu">
        <article class="img-menu"></article>
    </article>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button>Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button>Perfil</button>
    </form>
</div>
<main>
    <section class="section-sidebar">
        <section class="sidebar">
            <button class="botao-sidebar" data-section="dashboard">Dashboard</button>
            <button class="botao-sidebar" data-section="producao">Controle de Produção</button>
            <button class="botao-sidebar" data-section="estoque">Gestão de Estoque</button>
            <button class="botao-sidebar" data-section="vendas">Gestão de Vendas</button>
            <button class="botao-sidebar" data-section="configuracoes">Configurações</button>
        </section>
    </section>
    <section class="section-main">
        <div class="modulo-main">
            <section class="section-dashboard section-content" id="dashboard">
                <form method="GET" action="{{ url_for('dashboard.cultivo') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Cultivo</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('dashboard.estoque_produtos') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="{{ url_for('static', filename='images/logo-BlueFarm.jpeg') }}" alt="">
                        <h3 class="nome-modulo">Estoque de Produtos</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('dashboard.buscar_alimentos') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="{{ url_for('static', filename='images/logo-BlueFarm.jpeg') }}" alt="">
                        <h3 class="nome-modulo">Buscar Alimentos</h3>
                    </button>
                </form>
            </section>
            <section class="section-producao section-content" id="producao" style="display: none;">
                <form method="GET" action="{{ url_for('controle_producao.irrigacao') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Irrigação</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('controle_producao.colheita') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Colheita</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('controle_producao.controle_temperatura') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Controle de Temperatura</h3>
                    </button>
                </form>
            </section>
            <section class="section-estoque section-content" id="estoque" style="display: none;">
                <form method="GET" action="{{ url_for('gestao_estoque.estoque_insumos') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Estoque de Insumos</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('gestao_estoque.movimentacao_estoque') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Movimentação de Estoques</h3>
                    </button>
                </form>
            </section>
            <section class="section-vendas section-content" id="vendas" style="display: none;">
                <form method="GET" action="{{ url_for('gestao_vendas.registro_vendas') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Registro de Vendas</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('gestao_vendas.lista_clientes') }}">
                    <button type="submit" class="card-modulo">
                        <img class="img-modulo" src="../../static/images/logo-BlueFarm.jpeg" alt="">
                        <h3 class="nome-modulo">Gestão de Clientes</h3>
                    </button>
                </form>
            </section>
            <section class="section-configuracoes section-content" id="configuracoes" style="display: none;">
                <form method="GET" action="{{ url_for('register.register_operador') }}">
                    <button class="card-produto-carrinho">
                        <img class="img-produto-carrinho" src="" alt="">
                        <h3 class="nome-produto-carrinho">Adicionar Operador</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('register.register_admin') }}">
                    <button class="card-produto-carrinho">
                        <img class="img-produto-carrinho" src="" alt="">
                        <h3 class="nome-produto-carrinho">Adicionar Administrador</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('configuracoes.cargos') }}">
                    <button class="card-produto-carrinho">
                        <img class="img-produto-carrinho" src="" alt="">
                        <h3 class="nome-produto-carrinho">Adicionar Cargo</h3>
                    </button>
                </form>
                <form method="GET" action="{{ url_for('configuracoes.departamentos') }}">
                    <button class="card-produto-carrinho">
                        <img class="img-produto-carrinho" src="" alt="">
                        <h3 class="nome-produto-carrinho">Adicionar Departamento</h3>
                    </button>
                </form>
            </section>
        </div>
    </section>
</main>
<script src="../../static/scripts/main.js"></script>
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}