{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Adicionar Cargo {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cargos.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <form method="GET" action="{{ url_for('main.main') }}" class="card-modulo">
        <button type="submit" class="bt-cabecalho">Voltar</button>
    </form>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button class="bt-div-header">Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button class="bt-div-header">Perfil</button>
    </form>
</div>
<main>
    <section class="section-main">
        <form method="POST" action="{{ url_for('configuracoes.cargos')}}" class="registrar-departamento">
            {{ form.csrf_token }}
            <div class="form-registrar-departamento">
                <div class="form" id="form-bool">
                    <label>Acesso ao sistema</label>
                    {{ form.id_nivel(class="form-control", id="boolean", placeholder="Permissão") }}
                </div>
                <div class="form">
                    {{ form.funcao(class="form-control", placeholder="Função") }}
                </div>
                <div class="form">
                    {{ form.salario(class="form-control", placeholder="Salário") }}
                </div>
                {{ form.submit(class="bt-registro", value="Registrar") }}
            </div>
        </form>
        <div class="lista-departamentos">
            {% for cargo in cargos %}
                <div class="card-departamento">
                    <p>Cargo: {{ cargo.funcao }}</p>
                    <p>Salário: {{ cargo.salario }}</p>
                    {% if cargo.id_nivel == 1 %}
                    <p>Acesso ao Sistema: Sim</p>
                    {% else %}
                    <p>Acesso ao Sistema: Não</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
</main>
<script src="../../static/scripts/register.js"></script>
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}