{% extends 'layout/base/structure.html' %}

{% block title %} BlueFarm | Gerenciar Funcionários {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionarios.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common/messages.css' ) }}">
{% endblock style %}

{% block body %}
<header>
    <form method="GET" action="{{ url_for('main.main') }}" class="card-modulo">
        <button type="submit" class="bt-cabecalho">Voltar</button>
    </form>
    <article class="img-bluefarm"></article>
    <section class="section-perfil">
        <div class="align-nome">
            <p>Olá, </p>
            <p id="nome-usuario">{{current_user.username}}</p>
        </div>
        <article class="img-perfil"></article>
    </section>
</header>
<div id="perfil-expandido" class="perfil-expandido" style="display: none;">
    <form method="GET" action="{{ url_for('login.logout') }}">
        <button class="bt-div-header">Logout</button>
    </form>
    <form method="GET" action="{{ url_for('login.perfil') }}">
        <button class="bt-div-header">Perfil</button>
    </form>
</div>
<main>
    {% for funcionario in funcionarios %}
        {% if funcionario.usuario and funcionario.usuario.pessoa %}
        <form method="POST" action="{{ url_for('configuracoes.remover_funcionario', id_funcionario=funcionario.id)}}" class="card-funcionario">
            {{ form.csrf_token }}
            <div class="detalhes-funcionario-1">
                <p>Username: {{ funcionario.usuario.username }}</p>
            </div>
            <div class="detalhes-funcionario-2">
                <p>Id Pessoa: {{ funcionario.usuario.pessoa.id }}</p>
                <p>Nome: {{ funcionario.usuario.pessoa.nome }}</p>
                <p>Data de Nascimento: {{ funcionario.usuario.pessoa.data_nascimento }}</p>
                <p>CPF: {{ funcionario.usuario.pessoa.cpf }}</p>
                <p>Gênero: {{ funcionario.usuario.pessoa.genero }}</p>
                <p>Telefone: {{ funcionario.usuario.pessoa.telefone }}</p>
                <p>Email: {{ funcionario.usuario.pessoa.email }}</p>
                <p>Endereço: {{ funcionario.usuario.pessoa.endereco }}</p>

                <p>Id Usuário: {{ funcionario.id_usuario }}</p>

                <p>Id Funcionário: {{ funcionario.id }}</p>
                <p>Cargo: {{ funcionario.cargo.funcao }}</p>
                <p>Salário: {{ funcionario.cargo.salario }}</p>
            </div>
            <div class="div-bt-delete">
                {{ form.submit(class="bt-delete", value="Deletar") }}
            </div>
        </form>
        {% endif %}
    {% endfor %}
</main>
<script src="../../static/scripts/register.js"></script>
<script src="../../static/scripts/cabecalho.js"></script>
{% endblock body %}