@media (min-width: 1201px) and (max-width: 1265px){
    /* main{
        background-color: red;
    } */

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 24%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}    

@media (min-width: 1025px) and (max-width: 1200px){
    /* main{
        background-color: green;
    } */

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 35%;
        height: 700px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 7%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 65%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto-carrinho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    
        width: 500px;
        height: 60px;
        border-radius: 10px;
        margin-top: 9%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .card-pedido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 600px;
        border-radius: 10px;
        margin-top: 7%;
        color: white;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    /* main{
        background-color:brown;
    } */

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 40%;
        height: 700px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 10%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 60%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto-carrinho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    
        width: 400px;
        height: 60px;
        border-radius: 10px;
        margin-top: 12%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .card-pedido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 400px;
        border-radius: 10px;
        margin-top: 11%;
        color: white;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /* main{
        background-color: blueviolet;
    } */

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226); 
        position: relative; 
    }

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 11%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 5%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .card-produto-carrinho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    
        width: 400px;
        height: 60px;
        border-radius: 10px;
        margin-top: 12%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .detalhes-pedido-1{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20%;
    
        width: 100%;
        height: 40px;
        border-radius: 10px 10px 0px 0px;
        background-color: #00000073;
        backdrop-filter: blur(15px);
    }

    .div-info-item-pedido{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    
        width: 90%;
        height: 75px;
    }

    .card-pedido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 400px;
        border-radius: 10px;
        margin-top: 11%;
        color: white;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}


@media (min-width: 320px) and (max-width: 480px){
    /* main{
        background-color: blue;
    } */

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226); 
        position: relative; 
    }

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 18%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 5%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .card-produto-carrinho{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    
        width: 300px;
        height: 140px;
        border-radius: 10px;
        margin-top: 12%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }

    .detalhes-pedido-1{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 7%;
    
        width: 100%;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
        background-color: #00000073;
        backdrop-filter: blur(15px);
    }

    .detalhes-pedido-2{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20%;
    
        width: 100%;
        height: 60px;
    }

    .div-info-item-pedido{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    
        width: 90%;
        height: 75px;
    }

    .card-pedido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 300px;
        border-radius: 10px;
        margin-top: 11%;
        color: white;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}