@media (min-width: 1201px) and (max-width: 1265px){
    /* main{
        background-color: red;
    } */

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 24%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}    

@media (min-width: 1025px) and (max-width: 1200px){
    /* main{
        background-color: green;
    } */

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 35%;
        height: 700px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 7%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 65%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    /* main{
        background-color:brown;
    } */

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 40%;
        height: 700px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 10%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 60%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /* main{
        background-color: blueviolet;
    } */

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226); 
        position: relative; 
    }

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 11%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 5%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}


@media (min-width: 320px) and (max-width: 480px){
    /* main{
        background-color: blue;
    } */

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226); 
        position: relative; 
    }

    .section-sidebar{
        display: flex;
        justify-content: center;
        align-items: start;
    
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 255, 0);
        margin-top: 18%;
        padding-bottom: 1%;
    }

    .section-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color: rgba(0, 128, 0, 0);
    }

    .section-produtos{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    
        width: 100%;
        background-color: rgba(238, 232, 170, 0);
        padding-bottom: 5%;
    }

    .card-produto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
    
        margin: auto;
        width: 230px;
        height: 230px;
        border-radius: 5%;
        color: rgb(238, 238, 238);
        margin-top: 5%;
        background-color: #ffffff33;
        backdrop-filter: blur(15px);
    }
}