.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1%;

    width: 270px;
    height: 425px;
    border-radius: 24px 60px;
    background-color: red;
}

:host ::ng-deep section app-button-sidebar {
    width: 100%;

    background-color: blue;
}