<section class="sidebar">
  <app-button-sidebar button_text="Dashboard" (buttonClick)="onButtonClick($event)"></app-button-sidebar>
  <app-button-sidebar button_text="Controle de Produção" (buttonClick)="onButtonClick($event)"></app-button-sidebar>
  <app-button-sidebar button_text="Gestão de Estoque" (buttonClick)="onButtonClick($event)"></app-button-sidebar>
  <app-button-sidebar button_text="Gestão de Vendas" (buttonClick)="onButtonClick($event)"></app-button-sidebar>
  <app-button-sidebar button_text="Configurações" (buttonClick)="onButtonClick($event)"></app-button-sidebar>
</section>