main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh; 
    width: 100%;
    background-color: red;
}

.section-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
    background-color: blue;
}

.section-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 75%;
    height: 100%;
    background-color: green;
}

:host ::ng-deep .section-main app-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}