main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh; 
    width: 100%;
    background-color: red;
}

.section-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
    background-color: blue;
}

.section-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 75%;
    height: 100%;
    background-color: green;
}

.ng-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.ng-switch-case{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.section-main section app-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}

.section-main section app-controle-producao {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}

.section-main section app-gestao-estoque {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}

.section-main section app-gestao-vendas {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}

.section-main section app-configuracoes {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: blueviolet;
}