<app-header></app-header>
<main>
  <section class="section-sidebar" *ngIf="sidebarVisible">
    <app-sidebar (moduleSelect)="onModuleSelect($event)"></app-sidebar>
  </section>
  <section class="section-main">
    <ng-container [ngSwitch]="currentModule" class="ng-container">
      <section *ngSwitchCase="'Dashboard'" class="ng-switch-case">
        <app-dashboard></app-dashboard>
      </section>
      <section *ngSwitchCase="'Controle de Produção'" class="ng-switch-case">
        <app-controle-producao></app-controle-producao>
      </section>
      <section *ngSwitchCase="'Gestão de Estoque'" class="ng-switch-case">
        <app-gestao-estoque></app-gestao-estoque> 
      </section>
      <section *ngSwitchCase="'Gestão de Vendas'" class="ng-switch-case">
        <app-gestao-vendas></app-gestao-vendas>
      </section>
      <section *ngSwitchCase="'Configurações'" class="ng-switch-case">
        <app-configuracoes></app-configuracoes>
      </section>
    </ng-container>
  </section>
</main>